
button {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  border-radius: 9px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  width: 100%;
}

.primary {
  border: 2px solid #FF4C4C;
  background-color: #FF4C4C;
  color: #F5F5F5;
}
.primary:focus {
  outline: none;
  border-color: #FF4C4C;
}
.primary:hover {
  background-color: #E94747;
  color: #DEDEDE;
}
.primary:disabled {
  border: 2px solid #FFC1C1;
  background-color: #FFC1C1;
  color: #F5F5F5;
}

.secondary {
  border: 2px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--cta-color);
}
.secondary:focus {
  outline: none;
  border-color: #DEDEDE;
}
.secondary:hover {
  background-color: #DEDEDE;
  color: #E94747;
}
.secondary:disabled {
  border: 2px solid #FCFCFC;
  background-color: #FCFCFC;
  color: #FFC1C1;
}

.tertiary {
  border: 2px solid var(--cta-color);
  background-color: transparent;
  color: var(--cta-color);
}
.tertiary:focus {
  outline: none;
  border-color: #DEDEDE;
}
.tertiary:hover {
  background-color: #DEDEDE;
  color: #E94747;
}
.tertiary:disabled {
  border: 2px solid #FCFCFC;
  background-color: #FCFCFC;
  color: #FFC1C1;
}

.regular {
  line-height: 32px;
  height: 36px;
}

.large {
  line-height: 44px;
  height: 48px;
}

.small {
  line-height: 22px;
  height: 26px;
}