.icon-button {
  width: 50px;
  border: none;
  background: none;
  color: var(--primary-color);
}
.icon-button:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--secondary-color);
}