.card-base {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  background: linear-gradient(82deg, #515c6f72 49%, #4c687f7b 50%);
  background-color: transparent;
  


  border-radius: 18px;
}

.card-base .underlay {
  z-index: -1;
  position: absolute;
  border-radius: 18px;
  height: 100%;
  width: 100%;
  background-color: transparent;

  box-shadow: -20px  -20px 40px #374fe839 inset;
  box-sizing: border-box;
}

.card-base .border {
  position: absolute;
  background-color: transparent;
  box-sizing: border-box;
  border-width:  2px;
}

.card-base .corner {
  z-index: -1;
  height: 30px;
  width: 30px;
}

.card-base .h-line {
  z-index: -1;
  width: calc(100% - 60px);
  height: 20px;
}

.card-base .v-line {
  z-index: -1;
  width: 20px;
  height: calc(100% - 60px);
}

.card-base .bottom-right {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 18px;
  
  border-style: none solid solid none;
  border-color: #cf8bff;
}

.card-base .bottom {
  bottom: 0;
  
  border-style: none none solid none;
  border-image: 
    linear-gradient(
      to right, #6c8087 0%, #cf8bff 100%
    ) 0 0 100% 0;
  box-sizing: border-box;
}

.card-base .bottom-left {
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 18px;
  
  border-style: none none solid solid;
  border-color: #6c8087;
}

.card-base .left {
  top: 30px;
  left: 0;
  
  border-style: none none none solid;
  border-image: 
    linear-gradient(
      to bottom, #7facff 0%, #6c8087 100%
    ) 0 0 0 100%;
  box-sizing: border-box;
}

.card-base .top-left {
  top: 0;
  left: 0;
  border-top-left-radius: 18px;
  
  border-style: solid none none solid;
  border-color: #7facff;
}

.card-base .top {
  top: 0;
  
  border-style: solid none none none;
  border-image: 
    linear-gradient(
      to right, #7facff 0%, #645589 100%
    ) 100% 0 0 0;
  box-sizing: border-box;
}

.card-base .top-right {
  top: 0;
  right: 0;
  border-top-right-radius: 18px;
  
  border-style: solid solid none none;
  border-color: #645589;
}

.card-base .right {
  top: 30px;
  right: 0;
  
  border-style: none solid none none;
  border-image: 
    linear-gradient(
      to bottom, #645589 0%, #cf8bff 100%
    ) 0 100% 0 0;
  box-sizing: border-box;
}
