
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  
  background: linear-gradient(84deg, #4d62889f 50%, #3f6d929f 50%);
  box-shadow: -30px  -30px 50px #5d37e835 inset;
  
  border: 2px solid;
  border-image: 
    linear-gradient(
      to right, 
      #a268a5b0,
      #cf8bff 
    ) 0 0 2 0;
  
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.nav .logo {
  height: 40px;
  margin-top: -16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.drawer {
  position: fixed;
  top: 0;
  left: -270px;
  width: 250px;
  height: 110%;
  margin-top: -20px;
  margin-left: -8px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: linear-gradient(84deg, #515c6f9f 49%, #4c687f9f 50%);
  box-shadow: -30px  -30px 50px #5d37e835 inset;
  border: 2px solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #a268a5b0,
      #cf8bff 
    ) 1 100%;
  
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: left 0.3s ease-in-out;
  z-index: 100;
  padding: 30px 0 0 20px;
}

.drawer.open {
  left: 0;
}

.drawer .icon {
  color: var(--text-color)
}

.drawer .icon:hover {
  color: var(--primary-color)
}

.drawer .close .icon {
  height: 40px;
  width: 50px;
}

.drawer .items {
  margin-right: 14px;
  height: 90vh;
}

.drawer h2 {
  font-weight: 400;
}

.drawer .active a {
  color: var(--primary-color);
}

.shop-all {
  display: flex;
  justify-content: center;
}

.shop-all .chevron {
  margin-left: 8px;
  margin-top: -2px;
}

.notification {
  position: absolute;
  top: 28px;
  right: 40px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

