
.item-card {
  max-width: 160px;
  margin: 12px;
  text-align: center;
}

.item-card img {
  width: 156px;
  height: 180px;
  max-width: 160px;
  object-fit: cover;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  border: 2px solid transparent;
}

.item-card h2 {
  height: 44px;
  display: flex;
  align-items: center;
  max-width: 160px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.item-card h3 {
  padding-bottom: 16px;
}

.add-button {
  height: 28px;
  position: relative;
  margin-bottom: -32px;
  bottom: 36px;
  left: 124px;
  border-radius: 50%;
  border: none;
  width: 28px;
  margin-right: 10px;
  padding: 0;
  line-height: 18px;
  background-color: var(--text-color);
  color: var(--cta-color);
}