.carousel-wrapper {
    position: relative; 
}

.left-arrow {
    height: 10%;
    position:absolute;
    top: 50%;
    left: 40px;
    font-size: 45px;
    color:#FF4C4C;
    z-index: 1;
    cursor: pointer;
    opacity: 0.2;
}

.right-arrow {
    height: 10%;
    position:absolute;
    top: 50%;
    right: 40px;
    font-size: 45px;
    color:#FF4C4C;
    z-index: 1;
    cursor: pointer;
    opacity: 0.2;
}

.right-arrow:hover , .left-arrow:hover {
    opacity: 1;
}

.img-title {
    font-size: 50px;
    color:var(--primary-color);
    justify-self:start;
}

.carousel-img {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}

.dots-container {
    display: flex;
    justify-content: center;
}

.dots {
    margin: 0 3px;
    margin-top: -60px;
    cursor: pointer;
    font-size: 50px;
    color: #FF4C4C;
    opacity: 0.5;
}

.dots:hover, .dots:active {
    opacity: 1;
    transform: scale(1.2);
}

.dots.active {
    opacity:1;
    transform: scale(1.2);
}