.carousel-wrapper {
    position: relative; 
}

.arrow {
    height: 45px;
    position:absolute;
    top: calc(50% - 45px);
    font-size: 45px;
    color:#FF4C4C;
    z-index: 1;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    opacity: 0.5;
    line-height: 45px;
    transition: opacity 0.3s ease-in-out;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
    rotate: 180deg;
}

.right-arrow:hover , .left-arrow:hover {
    opacity: 0.7;
}

.carousel-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    aspect-ratio: 16 / 9;
}

.dots-container {
    display: flex;
    justify-content: center;
}

.dots {
    margin: 0 3px;
    margin-top: -60px;
    cursor: pointer;
    font-size: 50px;
    color: #FF4C4C;
    opacity: 0.5;
}

.dots:hover, .dots:active {
    opacity: 1;
    transform: scale(1.2);
}

.dots.active {
    opacity:1;
    transform: scale(1.2);
}