.input {
  padding: 12px 16px;
  border: 2px solid #F5F5F5;
  border-radius: 9px;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 16px;
  height: 36px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.input:focus {
  outline: none;
  border-color: #FF4C4C;
}

.input-container h4 {
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 8px;
  height: 14px;
}

.input-container {
  text-align: start;
  margin-bottom: 10px;
}