.input {
  padding: 12px 16px;
  border: 2px solid #F5F5F5;
  border-radius: 9px;
  background-color: transparent;
  color: #F5F5F5;
  font-size: 16px;
  height: 36px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.input:focus {
  outline: none;
  border-color: #FF4C4C;
}

.input-container h4 {
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 8px;
  height: 14px;
}

.input-container {
  text-align: start;
  margin-bottom: 10px;
}

.input-container .alert-wrapper {
  position: absolute;
  margin-left: 10px;
}

.input-container .alert {
  background-color: #51658d;
  border-radius: 6px;
  padding: 6px;
  color: #FF4C4C;
  font-size: 16px;
  font-weight: 600;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: none; 
  border-bottom: 8px solid #51658d; 
  margin: 0 0 0 8px;
}