
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 300px;
  background-image: url('https://raw.githubusercontent.com/robinmetral/robinmetral/main/assets/logo.png');
  background-size: cover;
  background-position: center;
  animation: logo-spin infinite 20s linear;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.mx {
  margin-inline: 24px;
}

.my {
  margin-block: 24px;
}

.title {
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
}


.nav {
  display: flex;
  width: 100%;
  background-color: #858585;
  align-items: center;
  justify-content: center;
  padding: 1em;
  position: absolute;
  top: 0;
}

@keyframes logo-spin {
}

@media (prefers-reduced-motion: no-preference) {
}
